@import '~antd/dist/antd.less';

.container {
  min-width: 896px;

  .success {
    color : @primary-color;
  }
}

.modal {
  top: calc(100vh - 95%);

  .title {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.3);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    margin: 20px 0 10px 0;
    padding: 7px
  }

  .subtitle {
    margin-top: 10px
  }
}